<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="companiesWithDeviation" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell *matCellDef="let row">{{row.company}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="segment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Segment</th>
      <td mat-cell *matCellDef="let row">{{row.segment}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="deviation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Standart Deviation</th>
      <td mat-cell *matCellDef="let row">{{row.deviation}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
